.title{
    color: 	#e5c26fb9;
}
.contact-item img {
    width: 60px; /* Increase the width of the icons */
    height: 60px; /* Increase the height of the icons */
    margin-right: 20px; /* Increase margin for spacing */
    border-radius: 50%; /* Makes the icons circular */
    background-color: #fff; /* Adds a white background */
    padding: 10px; /* Adds padding inside the circle */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); /* Adds a slightly stronger shadow */
    transition: transform 0.2s ease-in-out; /* Adds a smooth transition */
}

.contact-item img:hover {
    transform: scale(1.1); /* Scales up the icon on hover */
}

.contact-item p {
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Makes the text bold */
    color: #333; /* Dark text color */
    transition: color 0.2s ease-in-out; /* Smooth color transition */
}

.contact-item:hover p {
    color: #F8A502; /* Change text color on hover */
}

