.main-content {
    padding: 20px;
    display: flex;

}


.content {

    flex-grow: 1;
    margin-left: 20px;

}

.Category-list {

    padding: 10px;
}

.Category-list button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.sidebar {
    margin-top: 60px;
    width: 250px;
    padding: 20px;
}

.sidebar h4 {
    margin-bottom: 15px;
    color: var(--primary-color);
}

.sidebar .form-check {
    margin-bottom: 10px;

}

.sidebar .form-check input[type="checkbox"]:checked {
    background-color: #FF5751;
    border: #ff3b34;
}

.book-list {
    margin-top: 10px;
    flex-grow: 1;
    padding: 20px;

}

.book-list h4 {
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.book img {
    width: auto;
    height: 200px;
    margin-right: 10px;
}