:root {
    --login-container: ;
    --button-color: #ff3b34;
    --button-hover: #FF5751;
    --box-shadow-color: rgba(255, 59, 52, 0.25);
}





.login-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--button-hover);
    box-shadow: 0 0 0 0.25rem var(--box-shadow-color);
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 500px;

}

.login-container .link {
    font-weight: 600;
    text-decoration: none;
    color: var(--button-color);
}

.login-container button {
    border-color: var(--button-color);
    background-color: var(--button-color);
}

.login-container button:hover {
    border-color: var(--button-hover);
    background-color: var(--button-hover);
}

.ping-container {
    margin-top: 12px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.ping {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    margin-right: 8px;

}

.ping-error {
    background-color: #FF5751;
    box-shadow: 0 0 10px rgba(255, 87, 81, 0.5);
}

.ping-success {
    background-color: #4CAF50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}


.ping::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ping 1.5s infinite;
}

.ping-success::after {
    background-color: #4CAF50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.7);
}

.ping-error::after {
    background-color: #FF5751;
    box-shadow: 0 0 10px rgba(255, 87, 81, 0.7);
}



@keyframes ping {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.0);
        opacity: 0;
    }
}