:root {
    --login-container: ;
    --button-color: #ff3b34;
    --button-hover: #FF5751;
    --box-shadow-color: rgba(255, 59, 52, 0.25);
}





.login-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--button-hover);
    box-shadow: 0 0 0 0.25rem var(--box-shadow-color);
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 500px;

}

.login-container .link {
    font-weight: 600;
    text-decoration: none;
    color: var(--button-color);
}

.login-container button {
    border-color: var(--button-color);
    background-color: var(--button-color);
}

.login-container button:hover {
    border-color: var(--button-hover);
    background-color: var(--button-hover);
}

.ping-container {
    margin-top: 12px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.ping {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    margin-right: 8px;

}

.ping-error {
    background-color: #FF5751;
    box-shadow: 0 0 10px rgba(255, 87, 81, 0.5);
}

.ping-success {
    background-color: #4CAF50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}


.ping::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ping 1.5s infinite;
}

.ping-success::after {
    background-color: #4CAF50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.7);
}

.ping-error::after {
    background-color: #FF5751;
    box-shadow: 0 0 10px rgba(255, 87, 81, 0.7);
}



@keyframes ping {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.0);
        opacity: 0;
    }
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-details {
    width: 100%;
}

.detail-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.detail-header h4 {
    color: #FF5751;
    margin: 0;
}

.edit-link {
    background-color: #ff3b34;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.edit-link button {
    border-color: none;
}

.edit-link:hover {
    color: white;
    background-color: #FF5751;
}

.profile-details .form-group {
    margin-bottom: 15px;
}

.profile-details .form-control[disabled] {
    background-color: #e9ecef;
    opacity: 1;
    color: #495057;
}

.profile-details label {
    font-weight: bold;
    color: #333;
}

.profile-details hr {
    margin: 20px 0;
}

.read-progress {
    margin-left: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 320px;
}

.read-progress h4 {
    color: #FF5751;
    margin-bottom: 20px;
    text-align: center;
}

.read-progress label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.progress {
    height: 15px;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-bar {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: width 0.6s ease;
}

.profile-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.form-control {
    border-radius: 0.5rem;
}

.btn-primary {
    background-color: #ff3b34;
    border-color: #ff3b34;
}

.btn-primary:hover {
    background-color: #ff5751;
    border-color: #ff5751;
}

.btn-primary:focus {
    background-color: #ff5751;
    border-color: #ff5751;
}