@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --background-color: #0d1117;
    --header-background-color: #161b22;
    --primary-color: #58a6ff;
    --text-color: #c9d1d9;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --btn-primary: #1f6feb;
    --input-bg-color: rgba(0, 0, 0, 0.1);
    --dropdown-bg-color: rgba(22, 27, 34, 0.95);
    --dropdown-hover-color: rgba(33, 37, 41, 0.95);
    --border-color: 1px solid rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--header-background-color);
    padding: 20px 40px;
    box-shadow: 0 0 10px var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.header img {
    height: 40px;
    margin-right: 10px;
}

.nav {
    display: flex;
}

.nav a {
    margin: 0 15px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    position: relative;
}

.nav a:hover {
    color: var(--primary-color);
}

.nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav a:hover::after {
    width: 100%;
}

.nav a.active {
    color: var(--primary-color);
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-container {
    background-color: rgba(22, 27, 34, 0.95);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.login-container a {
    color: #58a6ff;
    text-decoration: none;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #58a6ff;
    font-size: 28px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border-color: var(--primary-color);
    background-color: var(--input-bg-color);
    color: var(--text-color);
}

.form-control,
.form-select {
    background-color: var(--input-bg-color);
    border: var(--border-color);
    color: #c9d1d9;
    transition: border-color 0.3s;
}

.input-group-text {
    background-color: rgba(0, 0, 0, 0.2);
    border: var(--border-color);
    color: #c9d1d9;
}

.login-container button {
    margin-top: 20px;
}



.form-select option {
    background-color: var(--dropdown-bg-color);
    color: var(--text-color);
}

.form-select option:hover {
    background-color: var(--dropdown-hover-color);
}


/*Ping color*/